.formfile form {
  display: flex;
  justify-content: center;
  background-color: rgb(141, 140, 140);
  padding: 1rem;
  color: #FFF;
}
input[type="file"] {
  display: none;
}
label {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  width: 200px;
  background-color: #FFF;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  color: #333;
  border-radius: 5px;
}
.btnsendfile input {
  display: flex;
  padding: 10px;
  width: 4rem;
  margin-left: 1rem;
  text-align: center;
  font-size: 12pt;
  border-radius: 5px;
  border: 0;
}
.btnsendfile input:hover {
  background-color: #333;
  color: #FFF;
  cursor: pointer;
  transition: .2s;
}
label:hover {
  background-color: #4c9efc;
  color: #FFF;
  cursor: pointer;
  transition: .2s;
}


