<div class="formfile">
  <span>Importe os arquivos ou Faça a leitura das chaves para gerar o CT-e</span>
  <app-form-file-fat (onSubmit)="createHandler($event)"></app-form-file-fat>
  <!-- <div class="chaveCte">
   <form class="example-form" (ngSubmit)="onSubmit()" [formGroup]="formCte" #formDir="ngForm">
        <mat-form-field class="example-full-width">
          <mat-label>Chave CT-e</mat-label>
          <textarea matInput placeholder="Preencha o número da Chave do CT-e" formControlName="chvCte" required></textarea>
          <div *ngIf="formDir.submitted" class="validErr">
            <p *ngIf="chvCte.errors?.['required']">
              A Chave não pode ficar em branco
            </p>
          </div>
        </mat-form-field>
        <div class="btnfrete">
         <button type="submit" [disabled]="formDir.invalid">Buscar</button>
        </div>
    </form>
  </div> -->
</div>
<section class="seccteerp">
  <div *ngIf="showLoading">
    <div class="loadingarea">
      <mat-spinner class="loading"></mat-spinner>
    </div>
    <div class="overlay"></div>
  </div>
  <!-- <button (click)="carregarDados()">CARREGAR</button> -->
  <div class="tabchave">
  <!-- <div><h2>Número CTRC:</h2></div> -->
  <form (ngSubmit)="onSubmit($event)">
    <div class="tipser" *ngIf="cteNfe.length > 0">
      <!-- <mat-form-field> -->
      <!-- <mat-label>Tipo de Frete</mat-label> -->
      <select name="tipser" class="tipser">
        <option class="tipseritem" *ngFor="let type of types" [value]="type.id">{{type.viewValue}}</option>
        <mat-option [value]="0">0-Normal</mat-option>
        <mat-option [value]="1">1-Subcontratação</mat-option>
        <mat-option [value]="2">2-Redespacho</mat-option>
        <mat-option [value]="3">3-Redespacho Intermediário</mat-option>
        <mat-option [value]="4">4-Serviço Vinculado a Multimodal</mat-option> -->
      </select>
      <!-- <mat-form-field>
        <mat-label>Favorite food</mat-label>
        <mat-select [value]="selectedValue" name="tipser">
           @for (type of types; track type)  {
            <mat-option *ngFor="let type of types" [value]="type">{{type.viewValue}}</mat-option>
           }
        </mat-select>
      </mat-form-field> -->
      <!-- </mat-form-field> -->
    </div>
    <div class="tabcte">
    <table *ngIf="cteNfe.length > 0">
      <thead>
        <tr>
          <th id="idsel" class="thead">
            <input
            type="checkbox"
            (change)="onChange($event)"
            [(ngModel)]="parentSelector" [ngModelOptions]="{standalone: true}"
            [value]="-1">
          </th>
          <th>Nota Fiscal</th>
          <th>Chave</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let chave of cteNfe">
          <th id="idsel">
            <input
              type="checkbox"
              name={{chave.chvnel}}
              (change)="onChange($event)"
              [checked]="chave.isselected"
              [value]="chave.chvnel">
          </th>
          <td id="idnfv">{{chave.numnfv}}</td>
          <td id="idchv">{{chave.chvnel}}</td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="btnsub" *ngIf="cteNfe.length > 0">
      <button  type="submit">Gerar CTRC</button>
    </div>
  </form>
  </div>
</section>
