span {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 10px;
}
.formcte {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}
.example-form {
  display: flex;
  min-width: 150px;
}
.example-full-width {
  font-size: 14pt;
  width: 600px;
}
.example-full-width textarea {
  padding: 2px;
  text-align: center;
}
.btnfrete button {
  width: 100px;
  padding: 10px 20px;
  margin-left: 20px;
  border: none;
  border-radius: 3px;
  font-size: 14pt;
  margin-top: 1.5rem;
}
.btnfrete button:hover {
  background-color: cornflowerblue;
  transition: .3s;
  cursor: pointer;
  color: white;
}
.areatable {
  display: flex;
  justify-content: center;
  width: 100%;
}
.tabfrete {
  padding: 10px;
  width: 100%;
}
.tabfrete thead  {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  border-radius: 2px;
}
.tabfrete th, td {
  padding: 10px;
  font-size: 12pt;
  justify-content: space-around;
  border-bottom: 1px solid rgba(212, 212, 212, 0.452);
  text-align: center;
}
#idVlr {
  text-align: right;
}
/* #idSit0 {
  background-image: url('/assets/status.png');
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
}
#idSit2 {
  background-image: url('/assets/status2.png');
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
}
#idSit1 {
  background-image: url('/assets/status1.png');
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
} */
/* .loadingarea {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 11;
}
.overlay {
  background: #000;
  height: 100vh;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
} */
.btnCarregarFretes {
  margin-top: 1rem;
  justify-content: flex-start;
  margin-right: 2rem;
}
.btnCarregarFretes button {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 14pt;
}
.btnCarregarFretes button:hover {
  background-color: cornflowerblue;
  transition: .3s;
  cursor: pointer;
  color: white;
}
#idVal img {
  width: 30px;
  border-radius: 50%;
  border: none;
}
#idVal img:hover {
  transition: .1s;
  cursor: pointer;
}
.validErr {
  color: red;
}
.chaveCte {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.tabcte {
  margin-top: 2rem;
  padding: 10px;
  background-color: rgb(253, 251, 251);
  box-shadow: 3px 8px 10px rgba(182, 182, 182, 0.678);
  border-radius: 5px;
}
.tabchave {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
thead th {
  background-color:rgb(186, 186, 186);
  padding: .5rem 1rem .5rem 1rem;
  border-radius: .3rem;
  text-align: center;
}
.tabchave td {
  border-bottom: 1px solid rgb(230, 230, 230);
}
#idsel input, #iddoc input {
  width: 50px;
  height: 20px;
  cursor: pointer;
}
.btnsub {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}
.btnsub button {
  width: 7rem;
  height: 2.3rem;
  cursor: pointer;
}
.btnsub button:hover {
  background-color: cornflowerblue;
  transition: .3s;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: .3rem;
}
.docanterior {
  padding: 10px;
  background-color: rgb(253, 251, 251);
  box-shadow: 3px 8px 10px rgba(182, 182, 182, 0.678);
  border-radius: 5px;
}
.tipser select {
  padding: .5rem;
  border-radius: .3rem;
}
mat-form-field {
  width: 300px;
}
.imgbtn img {
  width: 1.5rem;
  cursor: pointer;
}
.docant {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 5px;
}
.txtdocant {
  margin-left: 5px;
}
#delchv img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.btnload {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
#btnload {
  background-color: rgb(245, 245, 245);
  padding: .4rem;
  border-radius: 5px;
  border: 1px solid rgb(189, 189, 189);
  cursor: pointer;
}
#btnload:hover {
  background-color: cornflowerblue;
  color: white;
  border: none;
}















