.secfaterp {
  display: flex;
  background-color: #ececec;
  min-width: 600px;
  justify-content: center;
}
.comppai {
  background-color: rgb(227, 226, 228);
  height: 100%;
}
table {
  border-spacing: 0;
}
.tabfat {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(253, 251, 251);
  box-shadow: 3px 8px 10px rgba(182, 182, 182, 0.678);
  border-radius: 5px;
  width: 1000px;
}
.tabfat th {
  border-bottom: 1px solid #ececec;
  padding: 1rem;
}
.tabfat td {
  padding: 20px;
  justify-content: center;
  width: 500px;
  border-bottom: 1px solid #ececec;
}
.tabfat tr:hover {
  background-color: #afaeae;
  transition: 0.5s;
  font-weight: bolder;
  cursor: pointer;
}
#idfat, #idcmp, #idvlr, #idsta {
  text-align: center;
}
/* .loadingarea {
  min-width: 320px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-20%, -100%);
  z-index: 11;
}
.overlay {
  background: #000;
  height: 100vh;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 10;
  width: 100vw;
  z-index: 10;
} */
#delchv img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#email {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  cursor: pointer;
}
