.filtro {
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid grey;
}
.callfat {
    display: flex;
    justify-content: center;
    width: 100%;
}
#inpfat {
    padding: .5rem;
    font-size: 18pt;
}
.tabresult table {
    margin: 0 auto;
    margin-top: 10px;
    background-color: rgb(253, 251, 251);
    box-shadow: 3px 8px 10px rgba(182, 182, 182, 0.678);
    border-radius: 5px;
    width: 60%;
}
.tabresult th {
    margin: 0 auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    border-radius: 2px;
    border-bottom: 1px solid rgb(227, 227, 227);
}
.tabresult td {
    padding: 10px;
    font-size: 12pt;
    justify-content: space-around;
    width: 300px;
    border-bottom: 1px solid rgba(212, 212, 212, 0.452);
}
#fatccu {
    text-align: center;
}
#fatper, #fatvlr {
    text-align: end;
}
.faturaform {
    display: flex;
}
#btnfat {
    margin-left: 10px;
    margin-top: 10px;
}
.faturaform-full-width {
    width: 300px;
}
.btnvalidar {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.btnvalidar button {
    width: 200px;
}
.btnvalidar button:hover {
    background-color: rgb(214, 247, 148);
}
.trTotal {
    font-weight: bolder;
    text-align: right;
}
.nfatura {
  display: flex;
  justify-content: center;
}

