<div class="container">

  <div class="people-analytics">
    <span>People Analytics</span>
    <div class="img-area">
      <a href="https://app.powerbi.com/view?r=eyJrIjoiM2M1NTVlZDgtNDI1Yy00ZWEyLTk5ZDYtNGM2YzM0OTcyMmE4IiwidCI6ImNlNGIxZTA3LTUxZmYtNDZmNC04NTg5LTcyNTFiOGFjMDViMyJ9&pageName=ReportSectionbea511324679795d50d7" target="_blank"><img src="assets/people.png"/></a>
    </div>
  </div>
    <div class="people-analytics">
  <span>Controladoria</span>
    <div class="img-area">
      <a href="https://app.powerbi.com/view?r=eyJrIjoiMjdjZDJlYzUtOTBkMC00NzgyLWI4MDItMWFjZDdlZTgzM2NhIiwidCI6ImNlNGIxZTA3LTUxZmYtNDZmNC04NTg5LTcyNTFiOGFjMDViMyJ9&pageName=ReportSection718e9846fc1426b64a27" target="_blank"><img src="assets/results.png"></a>
    </div>
  </div>
  <div class="people-analytics">
    <span>Pós Vendas</span>
    <div class="img-area">
      <a href="https://app.powerbi.com/view?r=eyJrIjoiODdkYWZlNzctZGZkYS00MmNiLTg4YTMtZjRjMjAxYTExM2EzIiwidCI6ImNlNGIxZTA3LTUxZmYtNDZmNC04NTg5LTcyNTFiOGFjMDViMyJ9&pageName=ReportSection768f34f005b584a16649" target="_blank"><img src="assets/technical-support.png"></a>
    </div>
  </div>
  <div class="people-analytics">
    <span>Imobilizado</span>
    <div class="img-area">
      <a href="https://app.powerbi.com/view?r=eyJrIjoiY2Y3YzU0MGUtOGUzNi00YmQ2LWI2MTYtZWRmZDhmNjM4MTQxIiwidCI6ImNlNGIxZTA3LTUxZmYtNDZmNC04NTg5LTcyNTFiOGFjMDViMyJ9&pageName=ReportSection768f34f005b584a16649" target="_blank"><img src="assets/asset.png"></a>
    </div>
  </div>
</div>
