<form (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="Email" [(ngModel)]="dadosUsurio.email" name="email" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="Password" [(ngModel)]="dadosUsurio.password" name="password" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="dadosUsurio.name" name="name" required>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Save</button>
</form>
