<div *ngIf="showLoading">
  <div class="loadingarea">
    <mat-spinner class="loading"></mat-spinner>
  </div>
  <div class="overlay"></div>
</div>

<section class="section">
  <div *ngIf="rateios.length !== 0" class="btnvalidar">
    <form>
      <div *ngIf="statusFat.length == 0">
        <button mat-stroked-button (click)="validarRateio()">
        Validar
        </button>
      </div>
    </form>
  </div>
  <div class="nfatura">
    <h2>Fatura: {{numFatura}}</h2>
    <div class="formEnviarEmail">
      <div>
        <span>Enviar e-mail</span>
      </div>
      <div>
        <form (ngSubmit)="submit()" [formGroup]="formEmail" formDir="ngForm">
          <input id="email" type="email" placeholder="Digite o e-mail" formControlName="email">
          <input id="btnEnviar" type="submit" value="Enviar" name="enviar">
        </form>
      </div>
    </div>
  </div>


  <!--<input type="text" id="inpfat" placeholder="Número da Fatura"> -->
  <!--<input type="text" id="btnfat" (click)="getFatura()" value="Buscar"> -->
  <!-- <div class="gerRelatorio" *ngIf="rateios.length > 0">
    <div>
      <button (click)="gerRelatorio('707238')">Gerar Relatório Rateio</button>
    </div>
  </div> -->

  <div *ngIf="rateios.length > 0">

    <div class="tabresult">
      <table>
          <tr class="tablecab">
            <td>Centro de Custo</td>
            <td>Descrição CC</td>
            <td>Percentual</td>
            <td>Valor</td>
          </tr>
        <tbody *ngFor="let rateio of rateios">
          <!-- <tr class="trDetail" (click)="showRateioDetails(numFatura, rateio.codccu)"> -->
            <tr class="trDetail">
            <td id="fatccu">{{ rateio.codccu }}</td>
            <td id="fatdes">{{ rateio.desrat }}</td>
            <td id="fatper">{{ rateio.perrat }}</td>
            <td id="fatvlr">{{ rateio.vlrrat }}</td>
          </tr>
        </tbody>
        <tr *ngIf="rateios.length > 0" class="trTotal">
          <td></td>
          <td></td>
          <td>Total</td>
          <td>{{ totalFat }}</td>
        </tr>
      </table>
    </div>
    <div class="paginator" *ngIf="rateios.length > 0">
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                  showFirstLastButtons
                  aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>
</section>
