.section {
  overflow: hidden;
}
#inpfat {
  padding: .5rem;
  font-size: 18pt;
}
/* .loadingarea {
min-width: 320px;
position: fixed;
left: 50%;
top: 50%;
transform: translate(-20%, -100%);
z-index: 11;
}
.overlay {
background: #000;
height: 100vh;
left: 0;
opacity: 0.5;
position: fixed;
top: 0;
width: 100vw;
z-index: 10;
} */
.tabresult {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: rgb(253, 251, 251);
  box-shadow: 3px 8px 10px rgba(182, 182, 182, 0.678);
  border-radius: 5px;
  width: 900px;
}
.tablecab {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  border-radius: 2px;
  font-weight: bolder;
  text-align: center;
}
.tabresult td {
  padding: 10px;
  font-size: 12pt;
  justify-content: space-around;
  width: 300px;
  border-bottom: 1px solid rgba(212, 212, 212, 0.452);
  text-align: center;
}
#fatccu {
  text-align: center;
}
#fatper, #fatvlr {
  text-align: end;
}
.faturaform {
  display: flex;
}
#btnfat {
  margin-left: 10px;
  margin-top: 10px;
}
.faturaform-full-width {
  width: 300px;
}
.btnvalidar {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.btnvalidar button {
  width: 200px;
}
.btnvalidar button:hover {
  background-color: rgb(214, 247, 148);
}
.trTotal {
  font-weight: bolder;
  text-align: right;
}
.nfatura {
  margin: 0 auto;
  padding: 10px;
  flex-direction: column;
}
.trDetail {
  cursor: pointer;
}
#email {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
#btnEnviar {
  padding: 10px;
  width: 80px;
  margin-left: 10px;
  border: none;
  border-radius: 3px;
}
#btnEnviar:hover {
  background-color: rgb(96, 174, 253);
  cursor: pointer;
  color: white;
}


